@charset "utf-8";

/**
 * notes.css
 *
 * @project     CSS Stylesheet for Markdown class notes
 * @author      Nicolas Khadivi <nicolaskhadivi@gmail.com>
 */

body {
    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
    line-height: 1.15;
    color: #000;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.15; margin: 0; }
h1, h2, h3 { margin-top: 10px; }
h4, h5, h6 { margin-top: 5px; }
h2+h3 { margin-top: 5px; }

h1 { font-size: 2em; }
h2 { font-size: 1.414em; }
h3 { font-size: 1.155em; }
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

p, blockquote, ul, ol, dl, table, pre { margin: 5px 0; }
li { margin: 0; }

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
}

code, pre {
    border-radius: 3px;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    text-decoration: none;
}
